extends layout

block content
	div.navbar.navbar-inverse.navbar-fixed-top
			div.navbar-header
				a.navbar-brand.hidden-xs.navbar-left Svangur
				a.navbar-brand.visible-xs.navbar-left S
				form.navbar-form.navbar-header
					div.input-group
						input.form-control
						div.input-group-btn
							button.btn.btn-default Leita
	div.container-fluid
		div(style="width:100px; height:100px; background-color:#999;") Hallo